[[source]]
# url = "https://pypi.tuna.tsinghua.edu.cn/simple"
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspider = "*"
pycurl = "*"
wsgidav = "==2.4.1"

[dev-packages]

[requires]
python_version = "3.6"
